<div class = "container mt-5"  >

<h1>Lists</h1>

<ul class="list-group mb-4">
  <% @lists.each do |list| %>
    <li class="list-group-item"><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "New List", new_list_path, class: "btn btn-primary" %>
</div>



